<dom-module id="editor-stage">
    <style>
        #iframe {
            border-width: 2px 0 0 0;
            width: 100%;
        }
    </style>
    <template>
        <iframe id="iframe" src="{{ filePath }}"></iframe>
    </template>
    <script>
        Polymer({
            is: 'editor-stage',
            listeners: {
                'code': '_code',
                'clear': '_clear',
                'file': '_updateFilePath'
            },
            _code: function (event) {
                this._updateCode( event.detail );
            },
            _updateCode: function (code) {
                this.$.iframe.contentDocument.querySelector('body').innerHTML = code;
                this._addElement();
            },
            _clear: function () {
                this._updateCode('');
            },
            _updateFilePath: function (event) {
                this.filePath = event.detail.file;
                this.$.iframe.onload = this._addElement.bind(this);
            },
            _addElement: function () {
                var frameDocument = this.$.iframe.contentDocument;
                var frameBody = frameDocument.querySelector('body');
                if (frameBody) {
                    let module = frameBody.querySelector('dom-module');
                    if (module) {
                        let id = module.getAttribute('id');
                        let el = document.createElement(id);
                        frameBody.appendChild(el);
                    }
                }
            }
        })
    </script>
</dom-module>