<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../polymer/polymer.html">

<dom-module id="editor-stage">
    <style>
        :host {
            display: block;
        }
        #frame {
            border-width: 2px 0 0 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <template>
        <div id="frame">
        </div>
    </template>
    <script>
        Polymer({
            is: 'editor-stage',
            listeners: {
                'code': '_code',
                'clear': '_clear',
                'file': '_updateFilePath',
                'component': '_updateComponent'
            },
            _code: function (event) {
                this._updateCode( event.detail );
            },
            _updateCode: function (code) {
                this.$.frame.innerHTML = code;
                this.$.frame.addEventListener("DOMContentLoaded", this._addElement.bind(this));
            },
            _clear: function () {
                this._updateCode('');
            },
            _updateFilePath: function (event) {
                this.filePath = '/' + event.detail.file;
//                this.$.iframe.onload = this._addElement.bind(this);
                Polymer.Base.importHref(this.filePath, this._addElement.bind(this));
                this._addElement();
            },
            _addElement: function ( componentId ) {
                let el = document.createElement(componentId);
                this.$.frame.appendChild(el);
            },
            _updateComponent: function (event) {
                this._updateCode('');
                this._addElement( event.detail );
            }
        })
    </script>
</dom-module>