<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../polymer/polymer.html">

<dom-module id="loop-code">
    <style>
        :host {
            display: block;
        }
    </style>
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="codemirror-custom.css">
    <link rel="stylesheet" href="bower_components/codemirror/theme/xq-light.css">
    <link rel="stylesheet" href="bower_components/codemirror/addon/fold/foldgutter.css">
    <template>
        <textarea id="code"></textarea>
    </template>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="bower_components/codemirror/mode/css/css.js"></script>
    <script src="bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="bower_components/codemirror/addon/fold/foldcode.js"></script>
    <script src="bower_components/codemirror/addon/fold/foldgutter.js"></script>
    <script src="bower_components/codemirror/addon/fold/brace-fold.js"></script>
    <script src="bower_components/codemirror/addon/fold/xml-fold.js"></script>
    <script src="bower_components/codemirror/addon/fold/comment-fold.js"></script>
    <script>
        Polymer({
            is: 'loop-code',
            listeners: {
                'code': 'updateCode',
                'clear': '_clear'
            },
            codeMirror: Object,
            mode: 'htmlmixed',
            theme: 'xq-light',
            lineNumbers: true,
            ready: function() {
                this.codeMirror = CodeMirror.fromTextArea(this.$.code, {
                    mode: this.mode,
                    theme: this.theme,
                    lineNumbers: this.lineNumbers,
                    foldGutter: true,
                  	indentUnit: 4,
                    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
                });
            },
            getCode: function() {
                return this.codeMirror.getValue();
            },
            updateCode: function(event) {
                this.codeMirror.setValue(event.detail);
            },
            _clear: function() {
                this.codeMirror.setValue('');
            }
        });
    </script>
</dom-module>