<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../app-route/app-location.html">
<link rel="import" href="../app-route/app-route.html">
<link rel="import" href="../loop-code/loop-code.html">
<link rel="import" href="../loop-stage/loop-stage.html">
<link rel="import" href="../loop-palette/loop-palette.html">

<dom-module id="loop-editor">
    <style>
        :host {
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        #toolbar {
            border-bottom: 1px solid lightgray;
            padding: 5px 0;
        }
        #main {
            flex-grow: 1;
            display: flex;
            position: relative;
        }
        #editor {
            position: relative;
            width: calc(100% - 140px);
        }
        #code,
        #stage {
            width: 100%;
            height: 50%;
        }
      	#palette {
            border-left: 1px solid lightgray;
            width: 140px;
            height: 100%;
            position: absolute;
            right: 0;
            overflow: scroll;
      	}
    </style>
    <template>
        <app-location route="{{route}}" use-hash-as-path></app-location>

        <app-route
                route="{{route}}"
                pattern="/:action"
                data="{{routeActionData}}"
                tail="{{componentIdData}}">
        </app-route>

        <div id="toolbar">
            <input type="text" id="component-id">
            <button id="load-button">Load</button>
            <button id="save-button">Save</button>
            <button id="new-button">New</button>
            <button id="update-button">Update</button>
        </div>
        <div id="main">
            <div id="editor">
                <loop-stage id="stage"></loop-stage>
                <loop-code id="code"></loop-code>
            </div>
	        <loop-palette id="palette"></loop-palette>
        </div>
    </template>
    <script>
        Polymer({
            is: 'loop-editor',
            properties: {
                componentId: {
                    type: String
                },
                code: {
                    type: String
                },
                dependencies: {
                    type: Array
                },
                route: {
                    type: Object
                },
                tail: {
                    type: Boolean
                },
                componentIdData: {
                    type: Object
                },
                routeActionData: {
                    type: Object
                },
                tracking: {
                    type: Boolean,
                    value: false
                }
            },
            listeners: {
                'load-button.tap': '_loadAction',
                'save-button.tap': '_saveAction',
                'new-button.tap': '_newAction',
                'update-button.tap': '_updateAction'
            },
            observers: [
                '_onRouteChanged(componentIdData)'
            ],
            ready: function () {
                var el = this.$.main;
                el.addEventListener('dragstart', this._startDragging.bind(this));
                el.addEventListener('drag', this._drag.bind(this));
                el.addEventListener('dragend', this._stopDragging.bind(this));
            },
            _onRouteChanged: function (data) {
                if (data.path && this.routeActionData) {
                    let path = data.path.replace(/^\/+/g, '');
                    switch(this.routeActionData.action) {
                        case 'load':
                            this._load(path);
                            break;
                        case 'save':
                            this._save(path);
                    }
                }
            },
            _load: function (componentId) {
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                let opts = {
                    headers: headers,
                    method: "GET"
                };
                let that = this;
                fetch(
                        window.location.protocol + '//' + window.location.hostname + ':3001' + '/api/component/' + componentId,
                        opts)
                        .then(function (response) {
                            return response.text();
                        })
                        .then(function (response) {
                            that.$['component-id'].value = componentId;
                            that.$['code'].fire('code', response);
                            that.$['stage'].fire('component', componentId);
                        }.bind(this))
                        .catch(function (error) {
                            console.error(error);
                            that.fire('error', error);
                        });
            },
            _save: function () {
                console.log('save');
                let content = this.$.code.getCode();
                let componentId = this.$['component-id'].value;
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                let reqBody = {
                    code: content,
                    componentId: componentId
                };
                let opts = {
                    headers: headers,
                    method: "PUT",
                    body: JSON.stringify(reqBody)
                };
                let that = this;
                fetch(
                        window.location.protocol + '//' + window.location.hostname + ':3001' + '/api/component',
                        opts)
                        .then(function (response) {
                            that.componentId = componentId;
                            that.fire('files-saved', response);
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.error(error);
                            that.fire('error', error);
                        });
            },
            _loadAction: function (event) {
                var componentId = this.$['component-id'].value;
                this.set('componentIdData.path', componentId);
            },
            _saveAction: function (event) {
                this._save();
            },
            _newAction: function (event) {
                this.$['component-id'].value = '';
                this.set('routeActionData.action', 'new');
                this.$['code'].fire('clear');
                this.$['stage'].fire('clear');
            },
            _updateAction: function (event) {
                var code = this.$['code'].getCode();
                this.$['stage'].fire('code', code);
            },
            _getBasePath: function (uri) {
                var splitUri = uri.split('/');
                return splitUri.splice(0, splitUri.length - 1).join('/');
            },
            _startDragging: function (event) {
                var componentId = event.target && event.target.getAttribute('component-id');
                if (componentId && !this.tracking) {
                    this.tracking = true;
                    this.$.stage.fire('drag-component', {
                        componentId: componentId,
                        x: event.clientX,
                        y: event.clientY
                    });
                }
            },
            _drag: function (event) {
                // There seems to be a Chrome bug, where the coordinates of the last drag event
                // are always 0,0 or 0,-30. So work around this:
                if(this.tracking && event.clientX != 0) {
                    this.$.stage.fire('drag-component', {
                        x: event.clientX,
                        y: event.clientY
                    });
                }
            },
            _stopDragging: function (event) {
                if(this.tracking)   {
                    // For some reason the coordinates of the dragend event are different
                    // from those of the drag event. Probably a Chrome bug.
                    // So just don't send the coordinates and use the ones from the last sensible
                    // drag event as the final coordinates.
                    // So actually fire this event here is rather useless right now.
                    this.$.stage.fire('stop-dragging');
                    this.tracking = false;
                }
            }
        });
    </script>
</dom-module>
