<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../app-route/app-location.html">
<link rel="import" href="../app-route/app-route.html">
<link rel="import" href="../editor-code/editor-code.html">
<link rel="import" href="../editor-stage/editor-stage.html">
<link rel="import" href="../component-palette/component-palette.html">

<dom-module id="looop-editor">
    <style>
        :host {
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        #toolbar {
            border-bottom: 1px solid lightgray;
            padding: 5px 0;
        }
        #file-path {
            width: 250px;
        }
        #main {
            flex-grow: 1;
            display: flex;
            position: relative;
        }
        #editor {
            position: relative;
            width: calc(100% - 140px);
        }
        #code,
        #stage {
            position: absolute;
            width: 100%;
            height: 50%;
        }
        #code {
            top: 0;
            position: relative;
        }
        #stage {
            top: 50%;
        }
      	#component-palette {
            border-left: 1px solid lightgray;
            width: 140px;
      	}
    </style>
    <template>
        <app-location route="{{route}}" use-hash-as-path></app-location>

        <app-route
                route="{{route}}"
                pattern="/:action"
                data="{{routeActionData}}"
                tail="{{componentIdData}}">
        </app-route>

        <div id="toolbar">
            <input type="text" id="component-id">
            <button id="load-button">Load</button>
            <button id="save-button">Save</button>
            <button id="new-button">New</button>
            <button id="update-button">Update</button>
        </div>
        <div id="main">
            <div id="editor">
                <editor-code id="code"></editor-code>
                <editor-stage id="stage"></editor-stage>
            </div>
	        <component-palette id="component-palette"></component-palette>
        </div>
    </template>
    <script>
        Polymer({
            is: 'looop-editor',
            properties: {
                componentId: {
                    type: String
                },
                code: {
                    type: String
                },
                dependencies: {
                    type: Array
                },
                route: {
                    type: Object
                },
                tail: {
                    type: Boolean
                },
                componentIdData: {
                    type: Object
                },
                routeActionData: {
                    type: Object
                }
            },
            listeners: {
                'load-button.tap': '_loadAction',
                'save-button.tap': '_saveAction',
                'new-button.tap': '_newAction',
                'update-button.tap': '_updateAction'
            },
            observers: [
                '_onRouteChanged(componentIdData)'
            ],
            ready: function () {
                this._importAllComponents();
            },
            _onRouteChanged: function (data) {
                if (data.path && this.routeActionData) {
                    let path = data.path.replace(/^\/+/g, '');
                    switch(this.routeActionData.action) {
                        case 'load':
                            this._load(path);
                            break;
                        case 'save':
                            this._save(path);
                    }
                }
            },
            _load: function (componentId) {
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                let opts = {
                    headers: headers,
                    method: "GET"
                };
                let that = this;
                fetch(
                        window.location.protocol + '//' + window.location.hostname + ':3001' + '/api/component/' + componentId,
                        opts)
                        .then(function (response) {
                            return response.text();
                        })
                        .then(function (response) {
                            that.$['component-id'].value = componentId;
                            that.$['code'].fire('code', response);
                            that.$['stage'].fire('component', componentId);
                        }.bind(this))
                        .catch(function (error) {
                            console.error(error);
                            that.fire('error', error);
                        });
            },
            _save: function () {
                console.log('save');
                let content = this.$.code.getCode();
                let componentId = this.$['component-id'].value;
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                let reqBody = {
                    code: content,
                    componentId: componentId
                };
                let opts = {
                    headers: headers,
                    method: "PUT",
                    body: JSON.stringify(reqBody)
                };
                let that = this;
                fetch(
                        window.location.protocol + '//' + window.location.hostname + ':3001' + '/api/component',
                        opts)
                        .then(function (response) {
                            that.componentId = componentId;
                            that.fire('files-saved', response);
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.error(error);
                            that.fire('error', error);
                        });
            },
            _loadAction: function (event) {
                var componentId = this.$['component-id'].value;
                this.set('componentIdData.path', componentId);
            },
            _saveAction: function (event) {
                this._save();
            },
            _newAction: function (event) {
                this.$['component-id'].value = '';
                this.set('routeActionData.action', 'new');
                this.$['code'].fire('clear');
                this.$['stage'].fire('clear');
            },
            _updateAction: function (event) {
                var code = this.$['code'].getCode();
                this.$['stage'].fire('code', code);
            },
            _getBasePath: function (uri) {
                var splitUri = uri.split('/');
                return splitUri.splice(0, splitUri.length - 1).join('/');
            },
            _importAllComponents: function () {
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                let opts = {
                  headers: headers,
                  method: "GET"
                };
                let that = this;
                fetch(
                  window.location.protocol + '//' + window.location.hostname + ':3001' + '/api/components',
                  opts)
                  .then(function (response) {
                    return response.text();
                  })
                  .then(function (response) {
                    let res = JSON.parse(response);
                    let components = res.data.components;
                    components.forEach(function(component) {
                        Polymer.Base.importHref(component.path);
                    });
                })
            }
        });
    </script>
</dom-module>
