<script src="../webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../polymer/polymer.html">

<dom-module id="loop-stage">
    <style>
        :host {
            display: block;
        }
        #frame {
            border-width: 0 0 2px 0;
            width: 100%;
            height: calc(100% - 2px);
        }
    </style>
    <template>
        <iframe id="frame" src="../loop-frame/loop-frame.html">
        </iframe>
    </template>
    <script>
        Polymer({
            is: 'loop-stage',
            listeners: {
                'code': '_code',
                'clear': '_clear',
                'file': '_updateFilePath',
                'component': '_updateComponent',
                'start-dragging': '_startDragging',
                'drag-component': '_drag',
                'stop-dragging': '_stopDragging'
            },
            ready: function () {
                this.$.frame.onload = this._importAllComponents.bind(this);
            },
            _code: function (event) {
                this._updateCode( event.detail );
            },
            _updateCode: function (code) {
                this.$.frame.innerHTML = code;
                this.$.frame.addEventListener("DOMContentLoaded", this._addElement.bind(this));
            },
            _clear: function () {
                this._updateCode('');
            },
            _updateFilePath: function (event) {
                this.filePath = '/' + event.detail.file;
//                this.$.iframe.onload = this._addElement.bind(this);
                Polymer.Base.importHref(this.filePath, this._addElement.bind(this));
                this._addElement();
            },
            _addElement: function ( componentId ) {
                let frameBody = this.$.frame.contentDocument.querySelector('body');
                let el = document.createElement(componentId);
                frameBody.appendChild(el);
            },
            _updateComponent: function (event) {
                let frameBody = this.$.frame.contentDocument.querySelector('body');
                frameBody.innerHTML = '';
                this._addElement(event.detail);
//                frameBody.addEventListener("DOMContentLoaded", function() {
//                }.bind(this));
            },
            _importAllComponents: function () {
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                let opts = {
                    headers: headers,
                    method: "GET"
                };
                let head = this.$.frame.contentDocument.querySelector('head');
                fetch(
                        window.location.protocol + '//' + window.location.hostname + ':3001' + '/api/components',
                        opts)
                        .then(function (response) {
                            return response.text();
                        })
                        .then(function (response) {
                            let res = JSON.parse(response);
                            let components = res.data.components;
                            components.forEach(function(component) {
                                var link = document.createElement('link');
                                link.setAttribute('rel', 'import');
                                link.setAttribute('href', component.path);
                                head.appendChild(link);
                            });
                        })
            },
            _startDragging: function(event) {
                console.log(event.detail);
            },
            _drag: function(event) {
                if(event.detail.componentId) {
                    this.puppet = document.createElement(event.detail.componentId);
                    let frameBody = this.$.frame.contentDocument.querySelector('body');
                    this.puppet.style.position = 'absolute';
                    frameBody.appendChild(this.puppet);
                }
                console.log(event.detail);
                this.puppet.style.left = event.detail.x + 'px';
                this.puppet.style.top = event.detail.y + 'px';
            },
            _stopDragging: function(event) {
                console.log(event.detail);
            }
        })
    </script>
</dom-module>