<script src="/node_modules/webcomponents.js/webcomponents-lite.min.js"></script>
<link rel="import" href="/node_modules/@polymer/polymer/polymer.html">
<link rel="import" href="/components/editor-code/editor-code.html">
<link rel="import" href="/components/editor-stage/editor-stage.html">
<link rel="import" href="/components/editor-router/editor-router.html">

<dom-module id="looop-editor">
    <template>
        <editor-code id="code"></editor-code>
        <input type="text" id="component-id">
        <button id="save-button">Save</button>
        <editor-stage id="stage"></editor-stage>
        <editor-router id="state-manager"></editor-router>
    </template>
    <script>
        Polymer({
            is: 'looop-editor',
            properties: {
                componentId: {
                    type: String
                },
                code: {
                    type: String
                },
                dependencies: {
                    type: Array
                }
            },
            listeners: {
                'save-button.tap': 'save',
                'load': 'load'
            },
            load: function(event) {
                var componentId = event.detail;
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                let opts = {
                    headers: headers,
                    method: "GET"
                };
                let that = this;
                console.log('Let\'s load', componentId);
                fetch(
                        '/api/component/' + componentId,
                        opts)
                        .then(function (response) {
                            return response.text();
                        })
                        .then(function (response) {
                            console.log(response);
                            that.$['component-id'].value = componentId;
                            that.$['code'].fire('code', response);
                            that.$['stage'].fire('code', response)
                        })
                        .catch(function (error) {
                            console.error(error);
                            that.fire('error', error);
                        });
            },
            save: function() {
                console.log('save');
                let content = this.$.code.value;
                let componentId = this.$['component-id'].value;
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                let reqBody = {
                    code: content,
                    componentId: componentId
                };
                let opts = {
                    headers: headers,
                    method: "PUT",
                    body: JSON.stringify(reqBody)
                };
                let that = this;
                fetch(
                        '/api/component/',
                        opts)
                        .then(function (response) {
                            that.componentId = componentId;
                            that.fire('files-saved', response);
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.error(error);
                            that.fire('error', error);
                        });
            }
        });
    </script>
</dom-module>
