<link rel="import" href="../polymer/polymer.html">

<dom-module id="loop-palette">
  <style>
      .component {
          padding: 10px;
          border-bottom: 1px solid lightgray;
      }
  </style>
  <template>
    <template is="dom-repeat" items="{{components}}">
      <div class="component"><a href="#/load/{{ item.name }}">{{ item.name }}</a></div>
    </template>
  </template>
  <script>
    Polymer({
      is: 'loop-palette',
      properties: {
        components: {
          type: Array,
          value: []
        }
      },
      ready: function () {
        let headers = new Headers();
        headers.append('Content-Type', 'application/json');
        let opts = {
          headers: headers,
          method: "GET"
        };
        let that = this;
        fetch(
          window.location.protocol + '//' + window.location.hostname + ':3001' + '/api/components',
          opts)
          .then(function (response) {
            return response.text();
          })
          .then(function (response) {
            let res = JSON.parse(response);
          	that.components = res.data.components;
        })
      }
    });
  </script>
</dom-module>
